
<div class="_body">
    <div class="main_container">
        <div class="head_container">
            <h1>Welcome to the Covid Checker</h1>
            <p>Something Something experience</p>
        </div>
        <div class="_shape"></div>
        <div class="body_container">
            <h2>
                Lets get you checked...
            </h2>
        </div>
        <div class="button_container">
            <a routerLink="/form">
                <div class="func_img forward_button"></div>
            </a>
        </div>
    </div>
</div>
