<div class="main_container">
    <div class="question_container">
        <div class="form_area">
            <form (ngSubmit)="onSubmit()" [formGroup]="questionsForm">
                <div *ngFor="let _question of _questions; let q_index = index">
                    <label [for]="'question_'+q_index">{{_question}}</label>
                    <input type="radio" [name]="'question_'+q_index" [formControlName]="'question_'+q_index" value="yes">Yes
                    <input type="radio" [name]="'question_'+q_index" [formControlName]="'question_'+q_index" value="no">No
                </div>
            </form>
        </div>
    </div>
    <div class="button_container">
        <a routerLink="/form-submitted" *ngIf="questionsForm.valid">
            <div (click)="onClick()" class="func_img forward_button"></div>
        </a>
    </div>
    <div class="button_container">
        <a routerLink="">
            <div class="func_img back_button"></div>
        </a>
    </div>
</div>
