/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Roboto;
    src: url(src/assets/fonts/Roboto/Roboto-Light.ttf)
 }
html {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: bisque;
}
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: #4d4d4d;
    text-align: center;
}
a {
    text-decoration: none;
}
a:hover {
    color: green;
}
._body {
    display: block;
    position: relative;
    z-index: 15;
}
.func_img {
    width: 50px;
    height: 50px;
    margin: auto;
    background-size: cover;
}
.forward_button {
    background-image: url("src/assets/img/icons8-right-64-grey.png");
}
.forward_button:hover {
    background-image: url("src/assets/img/icons8-right-64-green.png");
}
.back_button {
    background-image: url("src/assets/img/icons8-left-64-grey.png");
}
.back_button:hover {
    background-image: url("src/assets/img/icons8-left-64-green.png");
}