h1 {
    font-family: Roboto;
    font-size: 35px;
}
input[type=text], input[type=number] {
    width: 100%;
    padding: 8px 14px;
    margin: 8px 0;
    border: 1px solid #4d4d4d;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}
select {
    width: 100%;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
input[type=text]:focus, input[type=number]:focus {
    background-color: beige
}
._body {
    height: 100vh;
}
.main_container {
    padding-top: 20vh;
}
.main_container h1 {
    padding-bottom: 20px;
}
.form_area {
    position: relative;
    width: 80vh;
    margin-left: auto;
    margin-right: auto;
}
.form_input {
    padding-bottom: 30px;
}
.left_button {
    float: left;
}
.right_button {
    float: right;
}